body { 
    font: 12px arial,sans-serif;
    
    text-decoration:none;
}

* {
    margin:0;
    padding:0;
}

a {
    color:black;
    text-decoration:none;
}
a:hover {
   text-decoration:underline;
}

ul li{
    list-style:none;  
    overflow:hidden;
    height:16px;
    
    
}
ul li:hover { 
    height: auto;
}

li>ul a{
    margin-left:10px;
    color:gray;
    text-decoration:none;
}
li>ul a:hover{
    text-decoration:none;
}
