body {

}
li {
    display:inline-block;
    vertical-align:top;
    line-height:20px;
}

a {
    display:inline-block;
}

ul {
    display:inline;
    padding:0;
    margin:0;
}

fieldset {
    width:40%;
    display:inline-block;
    margin-right:0px;
    border:1px solid black;
    overflow:hidden;
    
    
}
legend {
    text-align:center;
}

img {
  
}

section > div#products {
    width:40%;
    display:inline-block;
    border:1px solid black;
    padding:3px;
}
section > div#ranges {
    width:30%;
    display:inline-block;
}


div#ranges {
    vertical-align:top;
}

div#ranges ul {
    
}
div#ranges li {
    display:block;   
}

label {
    padding:20px;
    display:block;
}
h1 {
    width:50%;
    text-align:center;
    padding:5px;
    border-bottom:1px solid black;
}
