<h1> Wellcome to your personal task manager! </h1>

 <p data-template="home-greeting-template" data-bind ="source: user"></p>
<blockquote cite="http://www.brainyquote.com/quotes/keywords/organizing.html#g0dCfiYZeWG9fmCf.99">
   
    <em>
        Organizing is what you do before you do something, so that when you do it, it is not all mixed up.
    </em>
    A. A. Milne 
</blockquote>

<script id="home-greeting-template" type="text/x-kendo-template">
      Hello <span data-bind="text: username"></span>, we are glad to see you again!
</script>