<div id="example" class="k-content">
            <div id="organizer">
                <ul id="panelbar" data-role="panelbar" data-expandMode= "single">
                <li class="k-state-active">
                    <span class="k-link k-state-selected">My TODO lists</span>
                    <div style="padding: 10px;">
                         <div>                  
                            <a class ="k-button" href="#/totlists/all" >Get All</a>
                        </div>
                        <div>
                            <span data-bind="text: message" style="color:red"></span>
                        </div>
                    </div>
                </li>
            </ul>
                <div id="bottom"></div>
            </div>
     <a class ="k-button" href="#/todolists/create">Create To Do list</a> 
     </div>