USE [master]
GO
/****** Object:  Database [Bookmarks]    Script Date: 24.7.2013 г. 18:26:45 ч. ******/
CREATE DATABASE [Bookmarks]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bookmarks', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Bookmarks.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Bookmarks_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Bookmarks_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bookmarks].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bookmarks]
GO
/****** Object:  Table [dbo].[Bookmarks]    Script Date: 24.7.2013 г. 18:26:47 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Bookmarks](
	[BookmarkID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](20) NOT NULL,
	[URL] [varchar](256) NOT NULL,
	[Notes] [nvarchar](200) NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_bookmarks] PRIMARY KEY CLUSTERED 
(
	[BookmarkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BookmarksAndTags]    Script Date: 24.7.2013 г. 18:26:47 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookmarksAndTags](
	[BookmarkID] [int] NOT NULL,
	[TagID] [int] NOT NULL,
UNIQUE NONCLUSTERED 
(
	[BookmarkID] ASC,
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tags]    Script Date: 24.7.2013 г. 18:26:47 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[TagID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_tags] PRIMARY KEY CLUSTERED 
(
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 24.7.2013 г. 18:26:47 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](20) NULL,
	[PasswordHash] [varchar](50) NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__Users__536C85E4D85C8981] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Bookmarks]  WITH CHECK ADD  CONSTRAINT [fk_users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Bookmarks] CHECK CONSTRAINT [fk_users]
GO
ALTER TABLE [dbo].[BookmarksAndTags]  WITH CHECK ADD  CONSTRAINT [fk_bookmarks] FOREIGN KEY([BookmarkID])
REFERENCES [dbo].[Bookmarks] ([BookmarkID])
GO
ALTER TABLE [dbo].[BookmarksAndTags] CHECK CONSTRAINT [fk_bookmarks]
GO
ALTER TABLE [dbo].[BookmarksAndTags]  WITH CHECK ADD  CONSTRAINT [fk_tags] FOREIGN KEY([TagID])
REFERENCES [dbo].[Tags] ([TagID])
GO
ALTER TABLE [dbo].[BookmarksAndTags] CHECK CONSTRAINT [fk_tags]
GO
ALTER TABLE [dbo].[Bookmarks]  WITH CHECK ADD  CONSTRAINT [Title] CHECK  ((len([Title])>=(1)))
GO
ALTER TABLE [dbo].[Bookmarks] CHECK CONSTRAINT [Title]
GO
ALTER TABLE [dbo].[Bookmarks]  WITH CHECK ADD  CONSTRAINT [URL] CHECK  ((len([URL])>=(2)))
GO
ALTER TABLE [dbo].[Bookmarks] CHECK CONSTRAINT [URL]
GO
ALTER TABLE [dbo].[Tags]  WITH CHECK ADD  CONSTRAINT [Name] CHECK  ((len([Name])>=(1)))
GO
ALTER TABLE [dbo].[Tags] CHECK CONSTRAINT [Name]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [Username] CHECK  ((len([Username])>=(2)))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [Username]
GO
USE [master]
GO
